    /* Contacto */
    
    .contactForm {
        margin-top: -230px;
        padding-left: 200px;
        padding-right: 200px;
        display: flex;
    }
    
    .contact-Img {
        background-image: url(../images/1copia.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 798px;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        color: #fff;
    }