    /* Contacto */
    
    .form-cont {
        width: 70%;
        height: 52vh;
        padding-bottom: 5vh;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        border-radius: 8px 8px 8px 8px;
        background: #FFF;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
        margin-bottom: 5vh;
    }
    
    .formContact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -220px;
        border-radius: 8px;
    }
    
    .itemsContact {
        margin: 3% 25% 0% 0%;
        height: 12%;
    }
    
    .font-title {
        position: absolute;
        left: 10.3%;
        right: 10.3%;
        top: 3.9%;
        bottom: 91.81%;
        color: white;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }
    
    .items-Cont {
        margin: 5% 25% 0% 0%;
        height: 10%;
    }
    
    .btn-Cont {
        margin-top: -60px;
        height: 10%;
    }
    
    .form-container input {
        margin-bottom: 8px;
        border: none;
        border-bottom: 1px solid black;
        color: black;
        font-size: 16px;
    }
    
    .formBtn {
        /* Botón siguiente */
        font-family: 'Be Vietnam', sans-serif;
        font-style: normal;
        background-color: #F25828;
        color: #F2F2F2;
        border: none;
        border-radius: 8px;
        width: 131px;
        height: 50px;
        font-weight: 700;
        font-size: 20px;
        display: block;
        appearance: none;
        border-radius: 4px;
        margin-left: 82%;
    }
    
    .spacectc::placeholder {
        position: relative;
        font-size: 1em;
    }
    
    .spacectc {
        margin-left: 12%;
        width: 45%;
        display: grid;
        position: relative;
        border: none;
        border-bottom: 1px solid black;
        background: #FFF;
    }
    
    .txt-title {
        margin-top: -48px;
        margin-right: 340px;
    }
    
    .spacectc2 {
        border: 1px solid #CACACA;
        border-radius: 8px;
        padding-bottom: 100px;
        background: #fff;
        margin-top: -5%;
        margin-right: 30px;
    }
    
    .contact-Img {
        background-image: url(../images/1copia.jpg);
        background-repeat: no-repeat;
        width: 100vw;
        height: 798px;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        color: #fff;
    }
    
    .contactWord {
        margin-left: 80px;
    }
    
    .form-control {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
        background: #FFF;
        width: 45%;
        padding-left: 0px;
        margin-left: 12%;
    }
    
    .coment-Cont {
        display: grid;
        float: right;
    }
    
    .icons-c {
        margin-right: 10px;
        height: 30px;
        margin-left: 7%;
    }
    
    .pf-link {
        color: #F25828;
        margin-left: 75.2%;
        font-size: 14px;
        text-decoration: underline;
        font-weight: bold;
    }
    
    @media (min-width: 1920px) and (max-width: 2560px) {
        label {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
        .itemsContact {
            margin: 4% 25% 0% 0%;
            height: 14%;
        }
        .btn-Cont {
            margin-top: -90px;
        }
        .formBtn {
            /* Botón siguiente */
            margin-left: 86%;
        }
        .txt-title {
            margin-top: -65px;
            margin-left: -40%;
        }
        .spacectc2 {
            padding-bottom: 140px;
            margin-top: -5%;
            margin-left: -40%;
            margin-right: 13%;
            padding-left: 1.5%;
        }
        .icons-c {
            height: 40px;
        }
        .pf-link {
            margin-left: 76.5%;
            font-size: 1.2rem;
        }
    }