/* Section Alimentos */

.img-aliments {
    background-image: url('../images/Donate-Food/Portada.jpg');
    background-repeat: no-repeat;
    width: 105.7vw;
    height: 798px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-project {
    margin-top: 20%;
    width: 160px;
    height: 50px;
}

.person {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.cite {
    font-family: 'Be Vietnam';
    font-style: italic;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 60px;
    color: #505050;
}

.div-order {
    display: flex;
}

.color {
    background-color: #F2F2F2;
}

.text-color {
    color: #FFFFFF;
}

.text-form-foods {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1F5C70;
    margin-left: 29%;
}

.next-button {
    margin-top: -6px;
    font-family: 'Be Vietnam', sans-serif;
    background-color: #F25828;
    color: #F2F2F2;
    border: none;
    border-radius: 8px;
    width: 131px;
    height: 50px;
    font-weight: 700;
    font-size: 1.25em;
    position: absolute;
    left: 60.7%;
}
.comillas1{
  height: 61px;
  margin-right: 1%;
}
.comillas2{
  height: 61px;
  margin-top: 5%;
  margin-left: -1%;
}

/* Collaborators */

.img-collaborators {
    background-image: url('../images/Collaborators.png');
    background-repeat: no-repeat;
    width: 105.7vw;
    height: 798px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat{
    font-size: 1.25em;
}
.logo-fao{
    width: 77px;
}
.fao{
    display: flex;
    margin-top: 10%;
    align-items: center;
}
.close-modal{
    position: absolute;
    top: 0;
    right: 0px;
    margin: 1%;
    cursor: pointer;
}
.img-modal{
    border-radius: 8px;
}
.modal-content{
    border-radius: 10px;
}
.ctn-modal{
    position: absolute;
    color: #FFFFFF;
    padding: 80px;
    display: flex;
}
.logo-cpt{
    width: 25vw;
    margin-top: 40px;
}
.margin-modal{
    margin-left: 70px;
    margin-top: 80px;
}
.rrss{
    margin-top: 40px;
    display: flex;
}