.sp-Img {
    background-image: url('../images/ProyEscuela/Portada_ProyEscuela.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 88.4vh;
    color: #FFFFFF;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.bdonate {
    margin-top: 15%;
}

.cnt-probl {
    width: 100vw;
}

.probtitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3% 8% 2% 7%;
    color: #2B292D;
}

.probtxt {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2B292D;
    margin: 0% 9% 3% 7%;
}

.cnt-imgp {
    width: 100vw;
    padding: 0% 7% 3% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circlesPercent {
    height: 60vh;
}

.objdesSost {
    width: 100vw;
    background-color: #1F5C70;
    padding: 2% 7% 2% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .LogoOds {
    margin: 7%;
} */

.img-carObj {
    margin-top: 8%;
    width: 70vw;
    margin-left: 40%;
    padding-bottom: 10%;
    position: relative;
}

.img-carouselO {
    width: 12vw;
}

.cnt-UrbGard {
    width: 100vw;
    padding: 2% 7% 2% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-sch {
    width: 50vw;
    margin-right: 10%;
}

.gardns {
    height: 45vh;
}

.text-projsch {
    width: 100vh;
    color: #2B292D;
}

.projschool {
    font-size: 1.5rem;
}

.projschooltitle {
    font-size: 2rem;
    font-weight: bold;
}

.p-s-txt {
    font-size: 1rem;
    margin-top: 6%;
}

.dwnld-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.download {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 8%;
}

.OneBtn {
    background-color: #F25828;
    color: #F2F2F2;
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 38px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10%;
}

.dwnldarrow {
    height: 14px;
    color: #FFFFFF;
    margin-left: 10px;
}

.cnt-workshop {
    background-color: #F2F2F2;
    width: 100vw;
    padding: 2% 7% 2% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-sch2 {
    width: 50vw;
    margin-left: 10%;
}