.divFilters {
    display: flex;
    justify-content: space-between;
    width: 93vw;
    margin-top: 2%;
}

.filterTitle {
    align-self: flex-start;
    color: #000;
    font-family: 'Be Vietnam';
    margin-left: 10%;
}

.container-radio {
    display: flex;
    margin-top: 1%;
    margin-right: 25%;
}

.radio-btn-filter {
    width: 185px;
    height: 40px;
    margin-left: -1px;
    border: 1px solid #3A6270;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: initial;
    padding-left: 5px;
}

.p-radio-team {
    padding-left: 13px;
    font-size: 16px;
}

.container-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3%;
    width: 93vw;
}

.container-team2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3%;
    width: 93vw;
}

.container-team3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3%;
    width: 93vw;
}

.team {
    margin-top: -20px;
}

.teamimg {
    width: 207px;
    border-radius: 8px;
}

.descriptionsname {
    font-size: 16px;
    color: #FFF;
    font-family: 'Be Vietnam';
    margin-left: -8px;
}

.descriptions {
    font-size: 12px;
    color: #FFF;
    font-family: 'Be Vietnam';
    margin-left: -8px;
    bottom: auto;
}

.lineTeam {
    background: #FFF;
    margin: 0px;
    margin-left: -8px;
}

.container-img {
    position: absolute;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background-color: #34616F;
    width: 207px;
    top: 118.6%;
    color: #FFF;
    opacity: 0.85;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-img2 {
    position: absolute;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background-color: #34616F;
    width: 207px;
    top: 149.6%;
    color: #FFF;
    opacity: 0.85;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-img3 {
    position: absolute;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background-color: #34616F;
    width: 207px;
    top: 180.7%;
    color: #FFF;
    opacity: 0.85;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}