.divFilters {
    display: flex;
    justify-content: space-between;
    width: 93vw;
    margin-top: 2%;
}

.filterTitle {
    align-self: flex-start;
    color: #000;
    font-family: 'Be Vietnam';
    margin-left: 10%;
}

.container-radio {
    display: flex;
    margin-top: 1%;
    margin-right: 7%;
    margin-bottom: 20px;
}

.radio-btn-filter {
    width: 185px;
    height: 40px;
    margin-left: -1px;
    border: 1px solid #3A6270;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: initial;
    padding-left: 5px;
}

.p-radio-team {
    padding-left: 13px;
    font-size: 16px;
}

.container-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3%;
    width: 93vw;
}

.container-team2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3%;
    width: 93vw;
}

.container-team3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 3%;
    width: 69.7vw;
}

.team {
    margin-top: -20px;
}

.teamimg {
    width: 16.17vw;
    border-radius: 8px;
}

.descriptionsname {
    font-size: 16px;
    color: #FFF;
    font-family: 'Be Vietnam';
    margin-left: -8px;
}

.descriptions {
    font-size: 12px;
    color: #FFF;
    font-family: 'Be Vietnam';
    margin-left: -8px;
    bottom: auto;
}

.lineTeam {
    background: #FFF;
    margin: 0px;
    margin-left: -8px;
}

.container-img {
    position: absolute;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background-color: #34616F;
    width: 16.17vw;
    top: 135.2%;
    color: #FFF;
    opacity: 0.85;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-img2 {
    position: absolute;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background-color: #34616F;
    width: 16.17vw;
    top: 173.7%;
    color: #FFF;
    opacity: 0.85;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-img3 {
    position: absolute;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    background-color: #34616F;
    width: 16.17vw;
    top: 212.3%;
    color: #FFF;
    opacity: 0.85;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .descriptionsname {
        font-size: 20px;
        margin-left: -2px;
    }
    .descriptions {
        font-size: 18px;
        margin-left: -2px;
    }
    .lineTeam {
        background: #FFF;
        margin: 2px;
        margin-left: -2px;
    }
    .container-img {
        padding: 1%;
        top: 123.6%;
    }
    .container-img2 {
        padding: 1%;
        top: 163%;
    }
    .container-img3 {
        padding: 1%;
        top: 202.5%;
    }
}