/* Section donate */

.gardenImg {
    background-image: url('../images/HuertoUrbano.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 798px;
    color: #FFFFFF;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.btn-project {
    background-color: #F25828;
    color: #F2F2F2;
    border: none;
    border-radius: 8px;
    width: 138px;
    height: 50px;
    font-weight: 700;
    font-size: 1.25em;
    cursor: pointer;
    font-family: 'Be Vietnam';
}

.btn-project:hover {
    background-color: #d93400;
    text-decoration: none;
}


/*   .cnt-payment{
    display: flex;
    background-color: #fff;
    color: #2B292D;
    margin: 80px 80px 35px;
    border-radius: 8px;
    padding: 80px 50px;
    position: relative;
    margin-top: -8%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  } */


/* .ctn-pay{
    width: 50%;
    padding: 2%;
  }
  .ctn-pay2{
    padding-top: 31px;
  }
  .pay{
    display: flex;
    flex-wrap: wrap;
  }
  .payments{
    margin-top: 20%;
    margin-left: -108%;
  }
  .container-pay{
    display: flex;  
    width: 100%;
    justify-content: space-between;
    margin-top: 5%;
  }
  .btns-pay{
    display: flex;
    justify-content: flex-end;
    padding: 80px 45px 0;
    width: 100%;
  }
  .other{
    color: #BDBDBD;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 57px;
    font-weight: 700;
    font-size: 1.25em;
  }
  .radio-btn{
    width: 181px;
    height: 57px;
    margin-left: -1px;
    border: 1px solid #2B292D;
    align-items: center;
    text-align: center;
  }
  .radio-btn-pay{
    width: 572px;
    height: 128px;
    border: 1px solid #3A6270;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: initial;
  }
  .radio-btn-pay:active{
    background-color: #1F5C70;
    color: #FFFFFF;
  }
  .img-pay{
    width: 175px;
    height: 70px;
  }
  
  .radio-btn-pay input{
    width: 10%;
  }
  .center{
    padding: 4%;
  }
  .huertos{
    bottom: 64%;
  } */


/* Contacto */


/* .contactForm {
    margin-top: -230px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
  }
  .contact-Img {
    background-image: url('./images/1copia.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 798px;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    color: #fff;
  } */


/* Footer */


/*   .footer {
    color: #F2F2F2;
    background-color: #1F5C70;
    bottom: 0;
    width: 100%;
    height: 205px;
    font-family: 'Be Vietnam';
  }
  
  .container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
  
  }
  .container-footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */


/* Margin */


/*  .container-footer2, .container-footer, .impact, .container-header, .ctn-dnt-price {
    padding-right: 80px;
    padding-left: 80px;
  }
  .footerLine {
    background: #F2F2F2;
    margin-right: 80px;
    margin-left: 80px;
  } */