/* Section donate */
.gardenImg {
    background-image: url('../images/DonaHuertos/Portada2.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 798px;
    color: #FFFFFF;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.teacherImg {
  background-image: url('../images/DonaClase/Portada.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 798px;
  color: #FFFFFF;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.skillImg {
  background-image: url('../images/DonaHabilidad/Portada.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 798px;
  color: #FFFFFF;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.voluntaryImg {
  background-image: url('../images/HazteVol/Portada.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 798px;
  color: #FFFFFF;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.campaignImg {
  background-image: url('../images/Campañas/Portada_Campaña.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 798px;
  color: #FFFFFF;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-flow: row wrap;

}

.volunteer {
  background-color: #F2F2F2;
  width: 100vw;
  height: 100vh;

}

.volunteer-img {
  width: 500px;
  height: 338px;

}

.textContainer-volunteer {
  font-family: Be Vietnam;
  font-weight: 600;
  padding: 2%;
  text-align: justify;
}
.paragraph3 {
  padding: 3%;
  text-align: justify;
}
.container-volunteer {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.container-volunteer1{
  display: flex;
  position: relative;
  justify-content:center;
}
.gardenDiv {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.gardenLine {
  background: #FFFFFF;
  width: 90px;
  border: 0 none;
  height: 2px;
  margin-left: 0px;
  margin-top: 85px;
}

.text-garden {
  padding-top: 24px;
  width: 617px;
  height: 136px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25;
  line-height: 26px;
}

.btn-project {
    background-color: #F25828;
    color: #F2F2F2;
    border: none;
    border-radius: 8px;
    width: 138px;
    height: 50px;
    font-weight: 700;
    font-size: 1.25em;
    cursor: pointer;
    font-family: 'Be Vietnam';
}

.btn-project:hover {
    background-color: #d93400;
    text-decoration: none;
}

.textButtons {
  margin-top: 80px;
  display: flex;
}

/* container collaborators  */

.ctn-collaboration {
  padding: 80px;
}

.CollaborationSection {
  display: flex;
  width: 100%;
}

.img-clb {
  border: 1px solid black;
  border-radius: 8px;
}

.textContainer {
  padding-left: 80px;
  padding-top: 54px;
  text-align: left;
}

.paragraph {
  padding-top: 15px;
  text-align: left;
  width: 42vw;
  height: 99px;
  line-height: 26.5px;
}

.garden {
  width: 590px;
  height: 404px;
  border-radius: 8px;
}
@media (min-width: 1920px) and (max-width: 2560px) 
{
    .ctn-collaboration{
      padding-right: 5.55vw;
      padding-left: 5.55vw;
    }
    .paragraph{
      width: 46vw;
    }
    .volunteer {
      height: 45vmax;
    }
    
}





/* Media Queries */

/* @media (min-width: 1920px) and (max-width: 2560px) {
  .header {
      height: 12vh;
  }
  .firstImg {
      height: 80vh;
  }
  h3 {
      font-size: 4em;
  }
  span {
      font-weight: 400;
      font-size: 2em;
  }
  .paragraph1 {
      width: 54vw;
      font-size: 1.5em;
      /* padding-right: 15%;
  } */
  /* .ctn-otherdnt {
      margin-top: 20px;
      padding-left: 10%;
      width: 50vw;
  }
  .container-otherDnt {
      display: flex;
      padding-left: 5%;
      background-color: #F2F2F2;
      width: 100vw;
      height: 53vh;
      padding-top: 5%;
      padding-right: 5%;
  }
  .container-campaign {
      height: 45vh;
  }
  p {
      font-weight: 500;
      font-size: 1.5em;
  }
  .impact {
      padding: 3% 2% 5% 10.5%;
  }
  .container-ig {
      height: 80vh;
  }
  .App {
      margin: 0% 10% 0% 10%;
  }
  .footer {
      height: 28.7vh;
  } */

  /* Media View Donate */
 /*  .container-footer2, .container-footer, .impact, .container-header, .ctn-dnt-price, .headerBar, .firstDiv{
  padding-right: 5.55vw;
  padding-left: 5.55vw;
  }
  .cnt-payment{
      width: 89vw;
      margin: 5.5vw;
      position: relative;
      margin-top: -8vh;
  }
  .img-mach{
      margin-left: 8vw;
  }
  .huertos {
  bottom: 0;
}
 */