.headerBar {
    background-color: #1F5C70;
    height: 42px;
    width: 100%;
}

.instagram,
.facebook,
.twitter {
    height: 10px;
}

.container-header {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 69px;
    height: 71px;
}

.list {
    list-style: none;
    display: inline-flex;
}

.list li {
    flex: 3;
}

.btn-donate {
    background-color: #F25828;
    color: #F2F2F2;
    border: none;
    border-radius: 8px;
    width: 138px;
    height: 50px;
}

.footer {
    color: #F2F2F2;
    background-color: #1F5C70;
}